WTBOT__TELEGRAM_BOT_TOKEN=
WTBOT__DATABASE__HOST=localhost
WTBOT__DATABASE__PORT=5432
WTBOT__DATABASE__USERNAME=postgres
WTBOT__DATABASE__PASSWORD=postgres
WTBOT__DATABASE__NAME=water_db
WTBOT__DATABASE__ECHO=True
